
body{
	top: auto;
	font-family: sans-serif;
	background-color: #1fa0b7;
	line-height: 24px;


}
fieldset{
	padding-left: 20px;
	float: left;
	border-width: 30px;
	color: white;
	width: 420px;
	border: 30px;
	border-color: #FFFFFF;
	background-color: #2fb2c8;

}
input{
	width: 400px;
	height: 20px;
}
select{
	width: 400px;
	height: 20px;
	background-color: #FFFFFF;
}
legend{
	font-size: 22px;
}

h1 {
	clear:both;
    color: #FFF; 
	/*alterado*/
	padding-top: 14px;
    padding-bottom: 10px;
	//margin-left:70px;
	margin-bottom: 20px;
	border-bottom:3px solid #FFF;
	/*end*/
}
.conteudo {
	position: absolute;
	width: 1000px;
	left:50%;
	margin-left:-500px;
	padding-bottom:60px;
}

 /* ===================== 
===========Menu principal 
========================*/

#Menu_Home{
    background-color: #010101;
	opacity:0.85;
	/*alterado*/
	border-radius: 0px 22px 22px 0px ;
	-webkit-border-radius: 0px 22px 22px 0px ;
	-moz-border-radius: 0px 22px 22px 0px ;
	padding:10px 0px 10px 0px;
    margin-left: -150px;
	position:fixed;
    height: 100%;
	/*end*/
}
#Menu_Home ul  {
	margin-top:10px;
	padding:0px 20px;
}
#Menu_Home ul li{
	list-style:none;
	color:#FFF;
	opacity:1;
	
}
#Menu_Home ul li a{
	text-decoration:none;
	opacity:1 !important;
	color:#000;
	display:block;
	padding:10px 20px;
	margin-top:10px;
	background-color:#E4E4E4;
	
}

#botao_home {
	margin-left:130px;
	position:absolute;
	background-color: #010101;
	display:block;
	padding:10px 10px 10px 20px;
	border-radius: 0px 22px 22px 0px ;
	-webkit-border-radius: 0px 22px 22px 0px ;
	-moz-border-radius: 0px 22px 22px 0px ;
}

#bt-cadastrar{
	 margin:-20px;
	 float: right;
	 background-color:#1fa0b7;
	 padding:5px 5px;
	 margin-right: 5px;
}


/*end menu principal*/

